.container {
  width: 100%;
}
.containerchild {
  width: 100%;
  display: flex;

}
.cartbox {
  width: 100%;
 
}
.cartproduct {
  align-items: center;
  box-shadow: 10pnx 10px 10px rgb(202, 202, 202);
  margin:20px ;
  display: flex;
  justify-content: center;

}
.carthead{
  display: flex;
  width: 90%;
  justify-content: space-around;
  border: 1px solid black;
text-align: center;
}
.cartdetails{
  width: 50%;
  border: 1px solid black;
  gap: 30px;
  display: flex;
  flex-direction: column;

}
.cartdetails div{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}