.container {
  width: 100%;
}
.containerchild {
  width: 100%;
  display: flex;
}
.containerchild button{
  background-color: #BF1616;
  color: white;
}
.cartbox {
  width: 100%;
}
.cartproduct {
  align-items: center;
  margin: 20px;
  display: flex;
  justify-content: center;
 border-top: 1px solid rgb(168, 168, 168);

}
.carthead {
  display: flex;
  width: 100%;
  justify-content: space-around;
 border-top: 1px solid rgb(168, 168, 168);
  text-align: center;
}
.cartdetails {
  width: 50%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(163, 163, 163);
}
.cartdetails div {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(163, 163, 163);
  padding-top: 1re;

}
.couponsec div{
  width: 100%;
  display: flex;
}
.couponsec {
  position: relative;
}
.popup {
  background-color: white;
  width: 120%;
  border: 1px solid rgb(194, 193, 193);
  display: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  right: 20rem;
  top: -12rem;
  padding: 1rem;
}
.popup div {
  border: 1px solid rgb(187, 187, 187);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup i {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  cursor: pointer;
}
.popup input {
  width: 150%;
  border: none;
  outline: none;
}
.popup button {
  background-color: #BF1616;
  color: white;
}
@media only screen and (max-width: 400px) {
  .containerchild{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cartdetails{
    width: 100%;
  }
}