.priceContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* border: 1px solid black; */
}
.priceContainer div{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.imageSec img {
  width: 100%;
  height: 30vh;
}
.detailsSec {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detailsSec button{
  background-color: white;
  color: black;
  font-size: 1rem;
}
.buttonSec {
  width: 20%;
  display: flex;
}
.buttonSec button {
  width: 40%;
  background-color: rgb(255, 255, 255);
  color: black;
}
p {
  width: 40%;
  /* background-color: rgb(197, 195, 195); */
  color: black;
  /* border: 1px solid black; */
  align-items: center;
  text-align: center;
}
button {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 400px) {
  .priceContainer{
    display: flex;
    flex-direction: column;
  }
  .pricesex{
    display: flex;
    flex-direction: column;
  }
  .imageSec img{
    height: 50vh;
  }
}