.container {
  width: 100%;
}
.footersec {
  width: 100%;
  background-color: rgb(224, 222, 219);
  align-items: center;
  justify-content: center;
}
.manu {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
.manutext {
  width: 15%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}
.manutext a {
  text-decoration: none;
  list-style: none;
}
.socialMedia {
  width: 100%;
}
.socialMedia i {
  width: 5%;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.contactDetails {
  width: 95%;
  font-size: 1rem;
  padding: 1rem;
}
.copyRight {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
@media only screen and (max-width: 400px) {
  .manu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .manutext{
    width: 30%;
  }
  .manutext a{
    font-weight: 500;
    font-size: .8rem;
  }
  .contactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    font-size: 0.75rem;
  }
  .copyRight {
    font-size: 1rem;
    padding: 1rem;
    font-size: 0.75rem;
  }
}
