.container {
  width: 100%;
}
.categorybox {
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.categorybox {
  display: flex;
  width: 95%;
  /* border: 1px solid black; */
}
.CategoryImage {
  width: 100%;
}
.CategoryImage img {
  width: 80%;
  /* border: 1px solid black; */
}
.head {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyimagecss {
  margin: auto;
  width: 95%;
}
.bodyimagecss img {
  width: 100%;
}
.head h1 {
  width: 20%;
  /* border: 1px solid black; */
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  border: 10px 10px 10px #a80e0e;
  border-radius: 5px;
}
img {
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}
@media only screen and (max-width: 800px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}