.container {
  width: 100%;
}
.categorybox {
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.categorybox {
  display: flex;
  width: 95%;
  /* border: 1px solid black; */
}
.CategoryImage {
  width: 100%;
}
.CategoryImage img {
  width: 80%;
  /* border: 1px solid black; */
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyimagecss {
  margin: auto;
  width: 95%;
}
.bodyimagecss img {
  width: 100%;
}
.head h1 {
  width: 30%;
  padding: 5px;
  font-size: 2rem;
  font-weight: 700;
  background-color: #a80e0e;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
}
img {
  cursor: pointer;
}
.deleveryicons {
  padding: 2rem;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.deleveryicons div {
  display: flex;
  flex-direction: column;
}
.deleveryicons i {
  font-size: 1.5rem;
}
.deleveryicons span {
  font-size: 1rem;
}
@media only screen and (max-width: 400px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}
@media only screen and (max-width: 800px) {
  /* .head {
    width: 100%;
  } */
  .head h1 {
    width: 50%;
    font-size: 20px;
  }
  .categorybox,
  .categorybox {
    flex-direction: column;
  }
  .CategoryImage img,
  .CategoryImage img {
    width: 80%;
  }
}
