.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.smallimage {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1%;
  overflow: auto;
  height: 500px;
}
.smallimage img {
  width: 50%;
}
.bigimage {
  width: 30%;
  position: relative;
  display: flex;
}
.bigimage img {
  width: 100%;
  height: 500px;
}
#leftarrow {
  display: none;
}
#rightarrow {
  display: none;
}
.bigimage:hover #leftarrow {
  display: flex;
  position: absolute;
  top: 200px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(222, 217, 217);
  color: rgb(157, 151, 151);
  font-size: 30px;
  align-items: center;
}
.bigimage:hover #rightarrow {
  display: flex;
  position: absolute;
  top: 200px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(222, 217, 217);
  color: rgb(157, 151, 151);
  font-size: 30px;
  align-items: center;
}
/* product details css */
.textsec {
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
.sizeListcss {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.sizeListcss span {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.buttonsec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.incrementbtn {
  width: 20%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.incrementbtn button {
  background-color: rgb(212, 206, 206);
}
.incrementbtn span {
  width: 50%;
  background-color: rgb(177, 172, 172);
  font-size: 1.5rem;
}
.buynowCartBtn {
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.buynowCartBtn button {
  width: 40%;
  border: 1px solid black;
  font-size: 1rem;
  background-color: rgb(187, 7, 7);
  color: white;
}
.inputPiCode {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
}
.inputPiCode input {
  padding: 5px;
  width: 50%;
}
.pinError {
  color: red;
}
.pintrue {
  color: green;
}
.deleveryProductDetails {
  display: flex;
  flex-wrap: wrap;
}
.deleveryProductDetails li {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.deleveryProductDetails li span:last-child {
  font-size: 12px;
  border-bottom: 1px solid rgb(223, 220, 220);
}
.seeAndHide {
  cursor: pointer;
}
/* similar product */
.product_container {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup {
  position: absolute;
  right: 1rem;
  top: -50rem;
  width: 25%;
  z-index: 1;
  background-color: white;
  padding: 0.5rem;
}

.img_details {
  position: relative;
  align-items: center;
}
.img_details .details {
  display: none;
}
.img_details:hover .details {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 1px;
  background-color: #740606;
}
.details p {
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .sidebar {
    display: none;
  }
  .childContainer {
    width: 100%;
  }
  .ProductBox {
    width: 40%;
  }
  .smallimage {
    width: 20%;
  }
  .bigimage {
    width: 80%;
  }
  .bigimage img {
    width: 99%;
  }
  .inputPiCode {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .textcss {
    padding: 10px;
  }
  .productdetailsSex {
    width: 100%;
  }
  .product_container {
    width: 100%;
  }
  .product_box {
    width: 99%;
  }
  .popup {
    width: 80%;
    position: absolute;
    top: -80rem;
  }
}
