.container {
  width: 100%;
  display: flex;
  margin: auto;
}
.smallimage {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  row-gap: 1%;
  overflow: auto;
  height: 780px;
}
.imagess {
  width: 100%;
}
.smallimage img {
  width: 50%;
}
.bigimage {
  width: 40%;
  border: 1px solid black;
  position: relative;
  display: flex;
}
.bigimage img {
  width: 100%;
}
#leftarrow{
  display: none;
}
#rightarrow{
  display: none;
}
 .bigimage:hover #leftarrow {
  display: flex;
  position: absolute;
  top: 400px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color:  rgb(222, 217, 217);
  color: rgb(157, 151, 151);
  font-size: 30px;
  align-items: center;
}
.bigimage:hover #rightarrow {
  display: flex;
  position: absolute;
  top: 400px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color:  rgb(222, 217, 217);
  color: rgb(157, 151, 151);
  font-size: 30px;
  align-items: center;

}
.productdetailsSex {
  width: 50%;
  border: 1px solid black;
  display: flex;
}
.productdetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* similar product */
.product_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productdetailsSec {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.productdetailsSec {
  /* border: 1px solid black; */
  padding: 0;
}
.sizeListcss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  left: 0%;
}

.sizeListcss div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_button {
  justify-content: center;
  align-items: center;
}
.cart_button button {
  padding: 5px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.cart_button button,
span {
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.buynowCartBtn {
  background-color: red;
  border: none;
  color: white;
  font-size: 15px;
  padding: 50px;
  cursor: pointer;
}
.inputPinCode input {
  padding: 10px;
  outline: none;
}
.deleveryProductDetailsSec {
  /* border: 1px solid black; */
  padding: 0;
}
.deleveryProductDetails {
  display: flex;
  flex-wrap: wrap;
}
.deleveryProductDetails li {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.deleveryProductDetails li span:last-child {
  font-size: 12px;
  border-bottom: 1px solid rgb(223, 220, 220);
}
.seeAndHide {
  cursor: pointer;
}
