.container {
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.childContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sidebar {
  width: 25%;
}
.ProductBox {
  width: 23%;
  margin: 10px;
  box-shadow: 10px 10px 10px rgb(182, 178, 178);
}
.sidebar {
  width: 20%;
}
.img_details {
  position: relative;
  align-items: center;
}
.img_details .details {
  display: none;
}
.img_details:hover .details {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 1px;
  background-color: #740606;
}
.details p {
  width: 100%;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
@media only screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .childContainer {
    width: 100%;
  }
  .ProductBox {
    width: 44%;
  }
  .sizecss {
    width: 100%;
    overflow: hidden;
  }
}
