.container {
  width: 100%;
  display: flex;
  margin: auto;
  
}
.smallimage {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  row-gap: 1%;
  overflow: auto;
  height: 780px;
}
.imagess {
  width: 100%;
}
.smallimage img {
  width: 50%;
}
.bigimage {
  width: 40%;
  border: 1px solid black;
}
.bigimage img {
  width: 100%;
  /* height: 100vh; */
}
.productdetailsSex {
  width: 50%;
  border: 1px solid black;
  display: flex;
}
.productdetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

/* similar product */
.product_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
