.container {
  width: 100%;
}
.categorySec {
    width: 90%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0rem 0.5rem 0.5rem rgb(226, 222, 222);
  padding: 1rem;
  cursor: pointer;
}
.barSec a{
  cursor: pointer;
    width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  text-decoration: none;
  color: black;
}
